@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  body {
    @apply font-serif;
  }
  .recaptcha-container {
    display: flex;
    justify-content: center; /* Center the reCAPTCHA widget */
    margin: 1rem 0; /* Add spacing */
  }

  .recaptcha-container .g-recaptcha {
    transform: scale(0.85); /* Adjust the scaling factor */
    transform-origin: 0 0; /* Keep the top-left corner as the reference point */
  }

  @media (max-width: 768px) {
    .recaptcha-container .g-recaptcha {
      transform: scale(0.75); /* Scale smaller for smaller screens */
    }
  }

  @media (max-width: 480px) {
    .recaptcha-container .g-recaptcha {
      transform: scale(0.65); /* Scale even smaller for mobile */
    }
  }
}
